          |BKB-= |CKBThieves Guild Rules |BKB=-
               
|CKBBy order of the GuildMaster:

|BKB1) |CKOThieves are to remain loyal to the guild in all situations. 
Thieves come before clans, secondary guilds, marriage, oaths, 
etc.

|BKB2) |CKOThere is to be no in-guild killing. Those who do will be
hunted to the point of newbification and/or removed from the 
guild.

|BKB3) |CKOLower level thieves are to listen to all requests made by
the GuildMaster(GM) or QuarterMaster(QM).

|BKB4) |CKOLeaving the guild breaks the sworn bloodoath. You will be
hunted forever. Treachery is not taken lightly.

|MKBThese rules are subject to change on the whim of the GM.
