Following is a list of what is not allowed on Darkwind.  Failure
to observe these rules will result in punishment.  Lack of knowledge
of these rules is not an excuse for not following them.

This document will be broken down into two sections: players, and
wizards.  Everyone will know what is illegal for all to do.  Players
are expected not to ask wizards to break wizard rules, and wizards
are expected not to break rules that bind players.


Players
-------

1. Players may not abuse (or use once it's been determined as a bug)
   any bug.  Failing to report a known bug is also illegal.  Players
   who abuse bugs will see their characters wiped.  Future abuse
   by the same player may result in site bans.  On the flip side,
   reporting large bugs might be rewarded.

   See also: help bug.

2. Giving out either quest items or quest info (qinfo) to other
   players, or aiding players in completing quests is illegal.
   The giving out of quest info is illegal whether it is a
   deliberate attempt to cheat, or in passing conversation.
   Exactly what designates "aiding" on a quest is left up to the
   discretion of the wizards online and/or involved in the matter.

   2a. For partying on quests, you may only party on quests with
       people who have not completed the quest before, or with
       members of your original group of partiers.
       For example: Malraux, Acer, and Rodney all start off
       together to work on the Orc Slayer quest.  In the future,
       once they have started the quest, only Malraux, Acer, and
       Rodney may party together on this quest, and none of them
       may be a member of any other party working on the quest.
       If Acer is the first to complete the quest, then he is
       allowed to remain in that party on future attempts to solve
       the quest for Malraux and Rodney alone.

   2b. Attempting to cheat on quests, or encouraging others to do
       so is also illegal. For example, asking for quest info is
       not allowed.
     
3. Personal attacks, racial and ethnic slurs, sexual harassment, 
   and other forms of attack will not be tolerated.  Threatening
   other players or wizards with violence will not be tolerated.
   The Golden Rule applies here.  

   See also: help profanity, help virginears, help ignore

4. Having multiple (second, third, etc) characters.  Darkwind's
   current rule is to allow one character per person.  If we find
   that one person has more than one character, then ALL characters
   will be removed.  Further offenses may result in a siteban.
     
5. Botting is not allowed.  This is defined as creating client- or
   server-side scripts that will perform an unlimited number of
   actions without requiring a live person to be sitting at the
   keyboard of the computer.  Use of robots will result in removal
   of the character.

   5a. This is all-inclusive to all forms of scripting. ie.
       triggers, scripts, events, etc. None of these are
       allowed in any form.

   5b. Note that use of the Darkwind-provided "script" command
       is excluded from this rule.  However, using a client to
       string together multiple "script" commands is still illegal.

6. Kill stealing is not allowed. If someone is actively killing
   a mob, the mob is 'theirs' as is the equipment/money in the
   room. If the player leaves the room, it's fair game, though
   common courtesy would suggest you leave the mob alone. This
   does also apply to Garou who are fighting in a room. The
   items and gold on the ground they are in are not open, just
   because they can't pick them up. If the Garou leaves the room,
   again, it's fair game.

     [NOTE: If everyone involved is PK, this rule does not apply
            as you have recourse through PK]



Wizards
-------
     
1. Wizards may not provide access to their character to any other
   person.

2. Wizards may not erase or otherwise edit other wizards' files.  The
   same applies to system files.  Access to these files is generally
   protected, but it's conceivable that some things may be overlooked.
   If the wizard discovers that s/he has greater access than they
   should, it should be reported to an IMP+.

3. Copying another wizard's work without prior consent.
     
4. Interfering with players in any way.  This includes healing players;
   providing additional stats, XP, money, levels, alignment, etc through
   patching; and giving players objects or money.  This is not a
   comprehensive list by any means.  In general: if the character isn't
   your test character, don't mess with 'em.  Period.

   4a. The occasional boon or similar global blessing given by an IMP+ is
       not considered interference.

5. Abuse of wizard powers.

6. Disobeying higher-up wizards.


Punishments
-----------

If you are found to have violated one of the above rules, your character
may be:

1. Warned
2. Demoted (wiz or player)
3. Jailed
4. Removed
5. Sitebanned
