       Rules For Play in the Thief Grid
The thief grid offers an opportunity for thieves of all
ranks to engage in a bit of friendly competition.  The 
object of the game is simple - try to steal as many of
your opponent's flags while trying to keep as many of
your own flags.
Each player starts with a certain number of flags as
determined by their guild level.  The current flag
divisions are:
   level    1-5: 6 2-point flags
   level   6-10: 4 3-point flags
   level  11-15: 3 4-point flags
   level 15-20+: 2 6-point flags
This method of division accounts for the extra powers
that upper-level thieves get.
One game lasts for 4 minutes, at the end of which points
are counted and guild points are awarded.  The method of
reward is simply 50 guildpoints * (total points - 12).
For example, if you come out of the game with 16 points,
You gain 50*(16-12) = 200 guild points.  Of course, if you
end up with less points...well... *grin*

